@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";

:root {
  --color-primary: #2563EB;
  --color-secondary: #FBBF24;
}

* {
  font-family: 'Outfit', sans-serif;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif !important;
}
